body {
    background-color: beige;
    padding: 5px;
}

div {
    border-radius: 5px;
    padding: 10px;
}

#firstname {
    font-size: 20px;
    display: inline-block;
    margin: 10px 0;
}

#lastname {
    font-size: 20px;
}

#food {
    font-size: 20px;
    display: inline-block;
    margin: 10px 0;
}

#btn {
    margin-top: 50px; 
    width: 18%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 100px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
#btn:hover {
    background-color: lightgreen;
}
h2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px 10px;
    color: black;
}
